<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>双手捧起西瓜，咬一口.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-42}</string>
                <key>spriteSize</key>
                <string>{344,716}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{737,1605},{344,716}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>我爱吃橘子.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-33}</string>
                <key>spriteSize</key>
                <string>{380,734}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,1605},{380,734}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>摘下一颗，剥皮放入口中.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-36}</string>
                <key>spriteSize</key>
                <string>{676,728}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{803,725},{676,728}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>用刀将西瓜切成块.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-39}</string>
                <key>spriteSize</key>
                <string>{712,722}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{803,1},{712,722}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>酸酸甜甜的橘子真好吃.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,800}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>酸酸甜甜的葡萄真好吃.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,800}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,803},{800,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>actions-4.png</string>
            <key>size</key>
            <string>{1516,1986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:790c851d217e942d388603b167bc5bfe:55c0ff485dbe440ec2a668f31742d71d:5a65dd534e0b153c54dbc1c2c265f5f8$</string>
            <key>textureFileName</key>
            <string>actions-4.png</string>
        </dict>
    </dict>
</plist>
