<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>果汁杯10003.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{406,509}</string>
        <key>spriteSourceSize</key>
        <string>{410,515}</string>
        <key>textureRect</key>
        <string>{{0,0},{406,509}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>果汁杯10001.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{319,456}</string>
        <key>spriteSourceSize</key>
        <string>{410,515}</string>
        <key>textureRect</key>
        <string>{{0,509},{319,456}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>果汁杯30002.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{381,401}</string>
        <key>spriteSourceSize</key>
        <string>{385,405}</string>
        <key>textureRect</key>
        <string>{{0,965},{381,401}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>果汁杯20003.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{248,382}</string>
        <key>spriteSourceSize</key>
        <string>{250,390}</string>
        <key>textureRect</key>
        <string>{{319,509},{248,382}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>果汁杯20001.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{248,335}</string>
        <key>spriteSourceSize</key>
        <string>{250,390}</string>
        <key>textureRect</key>
        <string>{{406,0},{248,335}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>果汁杯30001.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{264,171}</string>
        <key>spriteSourceSize</key>
        <string>{385,405}</string>
        <key>textureRect</key>
        <string>{{406,335},{264,171}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>果汁杯10002.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{264,319}</string>
        <key>spriteSourceSize</key>
        <string>{410,515}</string>
        <key>textureRect</key>
        <string>{{654,0},{264,319}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>果汁杯20002.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{212,305}</string>
        <key>spriteSourceSize</key>
        <string>{250,390}</string>
        <key>textureRect</key>
        <string>{{0,1366},{212,305}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>果汁杯.png</string>
      <key>size</key>
      <string>{918,1671}</string>
      <key>textureFileName</key>
      <string>果汁杯.png</string>
    </dict>
  </dict>
</plist>
