<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>榨果汁底0003.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{280,275}</string>
        <key>spriteSourceSize</key>
        <string>{290,285}</string>
        <key>textureRect</key>
        <string>{{0,0},{280,275}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>榨果汁底0007.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{280,275}</string>
        <key>spriteSourceSize</key>
        <string>{290,285}</string>
        <key>textureRect</key>
        <string>{{280,0},{280,275}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>榨果汁底0001.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{278,267}</string>
        <key>spriteSourceSize</key>
        <string>{290,285}</string>
        <key>textureRect</key>
        <string>{{560,0},{278,267}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>榨果汁转动线0003.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{265,260}</string>
        <key>spriteSourceSize</key>
        <string>{290,285}</string>
        <key>textureRect</key>
        <string>{{838,0},{265,260}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>榨果汁转动线0005.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{264,250}</string>
        <key>spriteSourceSize</key>
        <string>{290,285}</string>
        <key>textureRect</key>
        <string>{{1103,0},{264,250}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>榨果汁转动线0001.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{258,242}</string>
        <key>spriteSourceSize</key>
        <string>{290,285}</string>
        <key>textureRect</key>
        <string>{{1367,0},{258,242}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>榨果汁转动线0007.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{257,255}</string>
        <key>spriteSourceSize</key>
        <string>{290,285}</string>
        <key>textureRect</key>
        <string>{{1625,0},{257,255}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>榨果汁底0002.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{278,267}</string>
        <key>spriteSourceSize</key>
        <string>{290,285}</string>
        <key>textureRect</key>
        <string>{{560,0},{278,267}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>榨果汁底0005.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{278,267}</string>
        <key>spriteSourceSize</key>
        <string>{290,285}</string>
        <key>textureRect</key>
        <string>{{560,0},{278,267}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>榨果汁底0006.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{278,267}</string>
        <key>spriteSourceSize</key>
        <string>{290,285}</string>
        <key>textureRect</key>
        <string>{{560,0},{278,267}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>榨果汁底0004.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{280,275}</string>
        <key>spriteSourceSize</key>
        <string>{290,285}</string>
        <key>textureRect</key>
        <string>{{0,0},{280,275}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>榨果汁底0008.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{280,275}</string>
        <key>spriteSourceSize</key>
        <string>{290,285}</string>
        <key>textureRect</key>
        <string>{{280,0},{280,275}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>榨果汁转动线0002.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{258,242}</string>
        <key>spriteSourceSize</key>
        <string>{290,285}</string>
        <key>textureRect</key>
        <string>{{1367,0},{258,242}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>榨果汁转动线0004.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{265,260}</string>
        <key>spriteSourceSize</key>
        <string>{290,285}</string>
        <key>textureRect</key>
        <string>{{838,0},{265,260}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>榨果汁转动线0006.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{264,250}</string>
        <key>spriteSourceSize</key>
        <string>{290,285}</string>
        <key>textureRect</key>
        <string>{{1103,0},{264,250}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>榨果汁转动线0008.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{257,255}</string>
        <key>spriteSourceSize</key>
        <string>{290,285}</string>
        <key>textureRect</key>
        <string>{{1625,0},{257,255}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>榨果汁.png</string>
      <key>size</key>
      <string>{1882,275}</string>
      <key>textureFileName</key>
      <string>榨果汁.png</string>
    </dict>
  </dict>
</plist>
