<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>前玻璃.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,67}</string>
                <key>spriteSize</key>
                <string>{335,313}</string>
                <key>spriteSourceSize</key>
                <string>{345,665}</string>
                <key>textureRect</key>
                <string>{{620,182},{335,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>旋钮.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-220}</string>
                <key>spriteSize</key>
                <string>{63,61}</string>
                <key>spriteSourceSize</key>
                <string>{345,665}</string>
                <key>textureRect</key>
                <string>{{1,348},{63,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>机身.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{345,617}</string>
                <key>spriteSourceSize</key>
                <string>{345,665}</string>
                <key>textureRect</key>
                <string>{{1,1},{345,617}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>盖子.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,243}</string>
                <key>spriteSize</key>
                <string>{345,179}</string>
                <key>spriteSourceSize</key>
                <string>{345,665}</string>
                <key>textureRect</key>
                <string>{{620,1},{345,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>红色指示灯.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-279}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{345,665}</string>
                <key>textureRect</key>
                <string>{{1,413},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>绿色指示灯.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-279}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{345,665}</string>
                <key>textureRect</key>
                <string>{{1,442},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>榨汁机.png</string>
            <key>size</key>
            <string>{966,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ec34a211f3bb32297626d03cfb9e2a1:87fc5890cb3e85fe9f5d279bbc26645b:5a2a7b67c15843886f574c4f590dc1d8$</string>
            <key>textureFileName</key>
            <string>榨汁机.png</string>
        </dict>
    </dict>
</plist>
