<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>西瓜切光10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,246}</string>
                <key>spriteSize</key>
                <string>{75,436}</string>
                <key>spriteSourceSize</key>
                <string>{153,1068}</string>
                <key>textureRect</key>
                <string>{{1317,1},{75,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>西瓜切光10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,176}</string>
                <key>spriteSize</key>
                <string>{75,436}</string>
                <key>spriteSourceSize</key>
                <string>{153,1068}</string>
                <key>textureRect</key>
                <string>{{1,78},{75,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>西瓜切光10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,106}</string>
                <key>spriteSize</key>
                <string>{75,438}</string>
                <key>spriteSourceSize</key>
                <string>{153,1068}</string>
                <key>textureRect</key>
                <string>{{881,155},{75,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>西瓜切光10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,35}</string>
                <key>spriteSize</key>
                <string>{77,436}</string>
                <key>spriteSourceSize</key>
                <string>{153,1068}</string>
                <key>textureRect</key>
                <string>{{1,232},{77,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>西瓜切光10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-35}</string>
                <key>spriteSize</key>
                <string>{81,436}</string>
                <key>spriteSourceSize</key>
                <string>{153,1068}</string>
                <key>textureRect</key>
                <string>{{1,311},{81,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>西瓜切光10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-106}</string>
                <key>spriteSize</key>
                <string>{75,436}</string>
                <key>spriteSourceSize</key>
                <string>{153,1068}</string>
                <key>textureRect</key>
                <string>{{1321,155},{75,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>西瓜切光10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-176}</string>
                <key>spriteSize</key>
                <string>{79,436}</string>
                <key>spriteSourceSize</key>
                <string>{153,1068}</string>
                <key>textureRect</key>
                <string>{{879,232},{79,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>西瓜切光10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-246}</string>
                <key>spriteSize</key>
                <string>{77,438}</string>
                <key>spriteSourceSize</key>
                <string>{153,1068}</string>
                <key>textureRect</key>
                <string>{{439,232},{77,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>西瓜切光10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-227}</string>
                <key>spriteSize</key>
                <string>{75,164}</string>
                <key>spriteSourceSize</key>
                <string>{153,1068}</string>
                <key>textureRect</key>
                <string>{{1755,1},{75,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>西瓜切光10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-257}</string>
                <key>spriteSize</key>
                <string>{101,164}</string>
                <key>spriteSourceSize</key>
                <string>{153,1068}</string>
                <key>textureRect</key>
                <string>{{1829,78},{101,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜切光10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-262}</string>
                <key>spriteSize</key>
                <string>{125,188}</string>
                <key>spriteSourceSize</key>
                <string>{153,1068}</string>
                <key>textureRect</key>
                <string>{{1797,244},{125,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜切光20001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-409,8}</string>
                <key>spriteSize</key>
                <string>{436,75}</string>
                <key>spriteSourceSize</key>
                <string>{1254,123}</string>
                <key>textureRect</key>
                <string>{{1,1},{436,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜切光20002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-335,8}</string>
                <key>spriteSize</key>
                <string>{444,75}</string>
                <key>spriteSourceSize</key>
                <string>{1254,123}</string>
                <key>textureRect</key>
                <string>{{439,78},{444,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜切光20003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-249,8}</string>
                <key>spriteSize</key>
                <string>{482,75}</string>
                <key>spriteSourceSize</key>
                <string>{1254,123}</string>
                <key>textureRect</key>
                <string>{{885,78},{482,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜切光20004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-182,6}</string>
                <key>spriteSize</key>
                <string>{478,79}</string>
                <key>spriteSourceSize</key>
                <string>{1254,123}</string>
                <key>textureRect</key>
                <string>{{1317,232},{478,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜切光20005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-124,8}</string>
                <key>spriteSize</key>
                <string>{458,75}</string>
                <key>spriteSourceSize</key>
                <string>{1254,123}</string>
                <key>textureRect</key>
                <string>{{1369,78},{458,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜切光20006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,7}</string>
                <key>spriteSize</key>
                <string>{438,75}</string>
                <key>spriteSourceSize</key>
                <string>{1254,123}</string>
                <key>textureRect</key>
                <string>{{877,1},{438,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜切光20007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{438,75}</string>
                <key>spriteSourceSize</key>
                <string>{1254,123}</string>
                <key>textureRect</key>
                <string>{{1,155},{438,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜切光20008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,5}</string>
                <key>spriteSize</key>
                <string>{438,81}</string>
                <key>spriteSourceSize</key>
                <string>{1254,123}</string>
                <key>textureRect</key>
                <string>{{439,311},{438,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜切光20009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{137,2}</string>
                <key>spriteSize</key>
                <string>{438,99}</string>
                <key>spriteSourceSize</key>
                <string>{1254,123}</string>
                <key>textureRect</key>
                <string>{{879,313},{438,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜切光20010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{205,0}</string>
                <key>spriteSize</key>
                <string>{438,123}</string>
                <key>spriteSourceSize</key>
                <string>{1254,123}</string>
                <key>textureRect</key>
                <string>{{1319,313},{438,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜切光20011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{273,8}</string>
                <key>spriteSize</key>
                <string>{438,75}</string>
                <key>spriteSourceSize</key>
                <string>{1254,123}</string>
                <key>textureRect</key>
                <string>{{441,155},{438,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜切光20012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{341,8}</string>
                <key>spriteSize</key>
                <string>{438,75}</string>
                <key>spriteSourceSize</key>
                <string>{1254,123}</string>
                <key>textureRect</key>
                <string>{{441,155},{438,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜切光20013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{409,8}</string>
                <key>spriteSize</key>
                <string>{436,75}</string>
                <key>spriteSourceSize</key>
                <string>{1254,123}</string>
                <key>textureRect</key>
                <string>{{439,1},{436,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>西瓜切光.png</string>
            <key>size</key>
            <string>{1931,437}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70f5df1e03f2eec7341a1651b1fffcb8:d2faaacc1f0f495cf2e78391aec2ebab:b3c56924ec9b3f5824b75e399f2fe2d3$</string>
            <key>textureFileName</key>
            <string>西瓜切光.png</string>
        </dict>
    </dict>
</plist>
