<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>西瓜裂开01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-10}</string>
                <key>spriteSize</key>
                <string>{356,449}</string>
                <key>spriteSourceSize</key>
                <string>{810,481}</string>
                <key>textureRect</key>
                <string>{{1525,1},{356,449}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>西瓜裂开02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-18}</string>
                <key>spriteSize</key>
                <string>{386,437}</string>
                <key>spriteSourceSize</key>
                <string>{810,481}</string>
                <key>textureRect</key>
                <string>{{1589,359},{386,437}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>西瓜裂开03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-18}</string>
                <key>spriteSize</key>
                <string>{418,437}</string>
                <key>spriteSourceSize</key>
                <string>{810,481}</string>
                <key>textureRect</key>
                <string>{{1553,747},{418,437}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>西瓜裂开04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-16}</string>
                <key>spriteSize</key>
                <string>{466,441}</string>
                <key>spriteSourceSize</key>
                <string>{810,481}</string>
                <key>textureRect</key>
                <string>{{777,941},{466,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜裂开05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-14}</string>
                <key>spriteSize</key>
                <string>{540,453}</string>
                <key>spriteSourceSize</key>
                <string>{810,481}</string>
                <key>textureRect</key>
                <string>{{1245,1167},{540,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜裂开06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-5}</string>
                <key>spriteSize</key>
                <string>{672,455}</string>
                <key>spriteSourceSize</key>
                <string>{810,481}</string>
                <key>textureRect</key>
                <string>{{1,1182},{672,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜裂开07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-112}</string>
                <key>spriteSize</key>
                <string>{810,231}</string>
                <key>spriteSourceSize</key>
                <string>{810,481}</string>
                <key>textureRect</key>
                <string>{{1,465},{810,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜裂开08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-112}</string>
                <key>spriteSize</key>
                <string>{810,231}</string>
                <key>spriteSourceSize</key>
                <string>{810,481}</string>
                <key>textureRect</key>
                <string>{{1,465},{810,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜裂开09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-112}</string>
                <key>spriteSize</key>
                <string>{810,231}</string>
                <key>spriteSourceSize</key>
                <string>{810,481}</string>
                <key>textureRect</key>
                <string>{{1,465},{810,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜裂开10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-113}</string>
                <key>spriteSize</key>
                <string>{774,231}</string>
                <key>spriteSourceSize</key>
                <string>{810,481}</string>
                <key>textureRect</key>
                <string>{{813,465},{774,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜裂开11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-115}</string>
                <key>spriteSize</key>
                <string>{774,237}</string>
                <key>spriteSourceSize</key>
                <string>{810,481}</string>
                <key>textureRect</key>
                <string>{{1,698},{774,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜裂开12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-117}</string>
                <key>spriteSize</key>
                <string>{774,241}</string>
                <key>spriteSourceSize</key>
                <string>{810,481}</string>
                <key>textureRect</key>
                <string>{{777,698},{774,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜裂开13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-119}</string>
                <key>spriteSize</key>
                <string>{774,243}</string>
                <key>spriteSourceSize</key>
                <string>{810,481}</string>
                <key>textureRect</key>
                <string>{{1,937},{774,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜裂开14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-119}</string>
                <key>spriteSize</key>
                <string>{774,243}</string>
                <key>spriteSourceSize</key>
                <string>{810,481}</string>
                <key>textureRect</key>
                <string>{{1,937},{774,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜裂开15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-126}</string>
                <key>spriteSize</key>
                <string>{760,229}</string>
                <key>spriteSourceSize</key>
                <string>{810,481}</string>
                <key>textureRect</key>
                <string>{{1,1},{760,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜裂开16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-125}</string>
                <key>spriteSize</key>
                <string>{760,231}</string>
                <key>spriteSourceSize</key>
                <string>{810,481}</string>
                <key>textureRect</key>
                <string>{{763,232},{760,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜裂开17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-126}</string>
                <key>spriteSize</key>
                <string>{760,229}</string>
                <key>spriteSourceSize</key>
                <string>{810,481}</string>
                <key>textureRect</key>
                <string>{{763,1},{760,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜裂开18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-126}</string>
                <key>spriteSize</key>
                <string>{760,229}</string>
                <key>spriteSourceSize</key>
                <string>{810,481}</string>
                <key>textureRect</key>
                <string>{{1,232},{760,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>西瓜裂开.png</string>
            <key>size</key>
            <string>{2027,1638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f138ac940f56097a02ae63328347e8cd:ff18645ad8218e7f1b5112cf51a2acc2:780cfd269209d2819383c70b18a8fb0d$</string>
            <key>textureFileName</key>
            <string>西瓜裂开.png</string>
        </dict>
    </dict>
</plist>
