<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>西瓜汁2/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-211,10}</string>
                <key>spriteSize</key>
                <string>{47,32}</string>
                <key>spriteSourceSize</key>
                <string>{497,124}</string>
                <key>textureRect</key>
                <string>{{166,273},{47,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜汁2/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-154,3}</string>
                <key>spriteSize</key>
                <string>{189,58}</string>
                <key>spriteSourceSize</key>
                <string>{497,124}</string>
                <key>textureRect</key>
                <string>{{166,213},{189,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜汁2/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,2}</string>
                <key>spriteSize</key>
                <string>{225,64}</string>
                <key>spriteSourceSize</key>
                <string>{497,124}</string>
                <key>textureRect</key>
                <string>{{190,79},{225,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜汁2/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,3}</string>
                <key>spriteSize</key>
                <string>{275,74}</string>
                <key>spriteSourceSize</key>
                <string>{497,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{275,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜汁2/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,9}</string>
                <key>spriteSize</key>
                <string>{215,66}</string>
                <key>spriteSourceSize</key>
                <string>{497,124}</string>
                <key>textureRect</key>
                <string>{{190,145},{215,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜汁2/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,8}</string>
                <key>spriteSize</key>
                <string>{217,76}</string>
                <key>spriteSourceSize</key>
                <string>{497,124}</string>
                <key>textureRect</key>
                <string>{{278,1},{217,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜汁2/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{112,3}</string>
                <key>spriteSize</key>
                <string>{137,62}</string>
                <key>spriteSourceSize</key>
                <string>{497,124}</string>
                <key>textureRect</key>
                <string>{{357,246},{137,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜汁2/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{120,2}</string>
                <key>spriteSize</key>
                <string>{165,74}</string>
                <key>spriteSourceSize</key>
                <string>{497,124}</string>
                <key>textureRect</key>
                <string>{{417,79},{165,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>西瓜汁2/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{151,2}</string>
                <key>spriteSize</key>
                <string>{163,100}</string>
                <key>spriteSourceSize</key>
                <string>{497,124}</string>
                <key>textureRect</key>
                <string>{{1,203},{163,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜汁2/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{155,0}</string>
                <key>spriteSize</key>
                <string>{187,124}</string>
                <key>spriteSourceSize</key>
                <string>{497,124}</string>
                <key>textureRect</key>
                <string>{{1,77},{187,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>西瓜汁2/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-247,60.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{497,124}</string>
                <key>textureRect</key>
                <string>{{166,203},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>西瓜汁2.png</string>
            <key>size</key>
            <string>{496,309}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af3b89397fb00d5942d01aa31fd42159:6ef95a8b1abbdc2af5faf21d9e4bdbf4:f48104dcbff21b3af8bf49e646d11fe1$</string>
            <key>textureFileName</key>
            <string>西瓜汁2.png</string>
        </dict>
    </dict>
</plist>
