<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>right01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{128,27}</string>
                <key>spriteSize</key>
                <string>{314,381}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{1269,716},{314,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{128,27}</string>
                <key>spriteSize</key>
                <string>{314,381}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{1269,716},{314,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{124,26}</string>
                <key>spriteSize</key>
                <string>{312,379}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{1522,1},{312,379}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{124,26}</string>
                <key>spriteSize</key>
                <string>{312,379}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{1522,1},{312,379}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{132,27}</string>
                <key>spriteSize</key>
                <string>{312,381}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{1585,716},{312,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{149,35}</string>
                <key>spriteSize</key>
                <string>{316,399}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{1522,315},{316,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{149,35}</string>
                <key>spriteSize</key>
                <string>{316,399}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{1522,315},{316,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{632,505}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{1,1},{632,505}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{632,505}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{1,635},{632,505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{632,505}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{508,1},{632,505}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{632,505}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{635,635},{632,505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{632,505}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{1015,1},{632,505}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>right1.png</string>
            <key>size</key>
            <string>{1902,1141}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d39d159adf469bca404bfdf822fff03c:910f1884bb619fcba998b8a85b49c2fd:590337058658404863192e7248013a66$</string>
            <key>textureFileName</key>
            <string>right1.png</string>
        </dict>
    </dict>
</plist>
