<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>right06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{153,34}</string>
                <key>spriteSize</key>
                <string>{324,397}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{1,1686},{324,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,587}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{1,1},{670,587}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,587}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{1,590},{670,587}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,6}</string>
                <key>spriteSize</key>
                <string>{652,505}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{673,1},{652,505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,6}</string>
                <key>spriteSize</key>
                <string>{652,505}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{1,1179},{652,505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,6}</string>
                <key>spriteSize</key>
                <string>{652,505}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{673,508},{652,505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{632,505}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{1327,1},{632,505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{632,505}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{1327,508},{632,505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{632,505}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{673,1015},{632,505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{632,505}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{1307,1015},{632,505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{632,505}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{655,1522},{632,505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{632,505}</string>
                <key>spriteSourceSize</key>
                <string>{670,587}</string>
                <key>textureRect</key>
                <string>{{1289,1522},{632,505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>right0.png</string>
            <key>size</key>
            <string>{1960,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d39d159adf469bca404bfdf822fff03c:910f1884bb619fcba998b8a85b49c2fd:590337058658404863192e7248013a66$</string>
            <key>textureFileName</key>
            <string>right0.png</string>
        </dict>
    </dict>
</plist>
