<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>吃掉果肉，吐出葡萄籽.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-33}</string>
                <key>spriteSize</key>
                <string>{708,734}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{803,739},{708,734}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>将苹果放入口中咬一咬.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-33}</string>
                <key>spriteSize</key>
                <string>{394,734}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{803,1475},{394,734}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>我爱吃葡萄.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-32}</string>
                <key>spriteSize</key>
                <string>{548,736}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{803,1},{548,736}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>我爱吃西瓜.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-33}</string>
                <key>spriteSize</key>
                <string>{356,734}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,1605},{356,734}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>我爱吃香蕉.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-32}</string>
                <key>spriteSize</key>
                <string>{490,736}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1353,1},{490,736}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>撕下一瓣放入口中.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-34}</string>
                <key>spriteSize</key>
                <string>{352,732}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1513,739},{352,732}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>用水将苹果洗干净.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,800}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>用水将葡萄冲洗干净.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,800}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,803},{800,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>actions-3.png</string>
            <key>size</key>
            <string>{1866,1962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:790c851d217e942d388603b167bc5bfe:55c0ff485dbe440ec2a668f31742d71d:5a65dd534e0b153c54dbc1c2c265f5f8$</string>
            <key>textureFileName</key>
            <string>actions-3.png</string>
        </dict>
    </dict>
</plist>
