<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>将香蕉剥皮.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-36}</string>
                <key>spriteSize</key>
                <string>{366,728}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1623,1178},{366,728}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>甜甜的苹果真好吃.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,800}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{821,1178},{800,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>这是葡萄.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1175,818}</string>
                <key>spriteSourceSize</key>
                <string>{1175,818}</string>
                <key>textureRect</key>
                <string>{{1,1},{1175,818}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>这是西瓜.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1175,818}</string>
                <key>spriteSourceSize</key>
                <string>{1175,818}</string>
                <key>textureRect</key>
                <string>{{1178,1},{1175,818}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>这是香蕉.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1175,818}</string>
                <key>spriteSourceSize</key>
                <string>{1175,818}</string>
                <key>textureRect</key>
                <string>{{1,821},{1175,818}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>actions-1.png</string>
            <key>size</key>
            <string>{1997,1997}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:790c851d217e942d388603b167bc5bfe:55c0ff485dbe440ec2a668f31742d71d:5a65dd534e0b153c54dbc1c2c265f5f8$</string>
            <key>textureFileName</key>
            <string>actions-1.png</string>
        </dict>
    </dict>
</plist>
