<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>2-1香蕉剥开0026.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{0,0},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0009.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{260,0},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0011.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{520,0},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0012.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{780,0},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0013.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{1040,0},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0014.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{1300,0},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0015.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{1560,0},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0016.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{0,360},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0010.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{260,360},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0028.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{520,360},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0030.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{780,360},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0032.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{1040,360},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0034.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{1300,360},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0001.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{1560,360},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0002.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{0,720},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0003.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{260,720},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0004.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{520,720},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0005.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{780,720},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0006.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{1040,720},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0007.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{1300,720},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0008.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{1560,720},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0027.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{0,0},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0017.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{0,360},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0018.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{0,360},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0019.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{0,360},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0020.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{0,360},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0021.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{0,360},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0022.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{0,360},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0023.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{0,360},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0024.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{0,360},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0025.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{0,360},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0029.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{520,360},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0031.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{780,360},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>2-1香蕉剥开0033.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{260,360}</string>
        <key>spriteSourceSize</key>
        <string>{260,360}</string>
        <key>textureRect</key>
        <string>{{1040,360},{260,360}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>香蕉剥开.png</string>
      <key>size</key>
      <string>{1820,1080}</string>
      <key>textureFileName</key>
      <string>香蕉剥开.png</string>
    </dict>
  </dict>
</plist>
